/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Root sizing */
/* html, body, #root {
  width: 100%;
  height: 100%;
} */

/* Let globals.css control theme */
/* body {
  margin: 0;
} */
